* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 
}

body {
    background-color: #F6F8F9;
    font-family: sans-serif;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 40px;
    margin-left: 5px;
    font-size: 35px;
    
   
}

.logo {
    padding-top: 25px;
    padding-left: 30px;
}

header {
    background-color: #fff;
}


.bottone {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 18px;
}

.bottone-task {
    background-color: #45ABEA;
    color: #fff;
}

.bottone-section {
    background-color: #fff;
    color: grey;
    border-color: lightgray;

}

.barrabottoni {
    border-bottom: 1px solid lightgrey;
    padding: 20px 40px;
    }
    

main {
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
   
}

.mainlist {
    padding: 20px;
}

h3::before {
    content: "\25BE";
}

#containerliste{
    padding: 30px 30px;
}

.taskcompletata {
   
        color: green;
        border: 1px solid green;
        border-radius: 100%;
        padding:  3px;
        margin-right: 10px;
    }

    .tasknoncompletata{
        color: red;
        border: 1px solid red;
        border-radius: 100%;
        padding:  3px;
        margin-right: 10px;
    }

li {
    list-style: none;
    margin-left: 15px;
    padding: 10px;
    font-size: 17px;
}

ul {
    padding: 5px;
    margin-bottom: 50px;
}


.editorialblu{
    margin-left: 10px;
    font-size: 10px;
    background-color: #45ABEA;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
}

.mobilearancione{
    margin-left: 10px;
    font-size: 10px;
    background-color: #F29E33;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
}

.goalsviola {
    margin-left: 10px;
    font-size: 10px;
    background-color: #9C72E4;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
}

.recruiting {
  
        margin-left: 20px;
        font-size: 10px;
        background-color: #64C0A9;
        color: white;
        border-radius: 20px;
        padding: 10px 20px;
    }

    .salesverde {

        margin-left: 20px;
        font-size: 10px;
        background-color: #B0C926;
        color: white;
        border-radius: 20px;
        padding: 10px 20px;   
    }

    #happy {
        padding-top: 100px;
        font-size: 20px;
        text-align: center;
    }