* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 
}

body {
    background-color: #F6F8F9;
    font-family: sans-serif;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 40px;
    margin-left: 5px;
    font-size: 35px;
    
   
}

.logo {
    padding-top: 25px;
    padding-left: 30px;
}

header {
    background-color: #fff;
}


.bottone {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 18px;
}

.bottone-task {
    background-color: #20adf2;
    color: #fff;
}

.bottone-section {
    background-color: #fff;
    color: grey;
    border-color: lightgray;

}

.barrabottoni {
    border-bottom: 1px solid lightgrey;
    padding: 20px 40px;
    }
    

main {
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
   
}

.mainlist {
    padding: 20px;
}

h3::before {
    content: "\25BE";
}

li {
    list-style: none;
}